.navigation {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  grid-column-gap: 20px;

  &__link {
    font-size: 18px;
    font-family: sans-serif;
    text-transform: uppercase;
    color: #2c2c2c;
    text-decoration: none;
    
    &--active {
      text-decoration: underline;
    }
  }
}