.navbar {
  display: flex;
  align-items: center;
  padding: 20px;
  background-color: teal;
  list-style: none;
  gap: 20px;
  
  &__link {
    color: #fff;
    font-size: 20px;
      &--active {
        color: slategrey;
      }
  }
}